---
layout: page
title: About
permalink: /about/
priority: 0.9

intro: |
  Hi, I’m Guangqi Fan
  Nice to Meet You
  
  <br/>
  I craft<br/>
  I challenge<br/>
  I create

  <br/>
  I lead with a curiosity and facilitate through empathy


profile_picture: /images/profile-pictures/profile.jpg

experience:
  - company: biukey studio
    position: founder & ceo
    period: May 2021 - Present



about_site: |
 
  - Becky's art sutudio. [Read more](//www.baidu.com)

whatido:
    - caption: UX Designer
      description: focus on healthcare, lifestyle and sustainability, provide design solution for a better future
      url: '/projects/about/01.jpg'
      width:
      height:

    - caption: Product Designer
      description: Design art derivatives for the Monet exhibition, exhibited in Shanghai Bund One Art Museum
      url: '/projects/about/02.jpg'
      width:
      height:

    - caption: Ceramic Crafter
      description: Matisse, stripes and colors are my favorite subjects, painting these elements on pottery is a great pleasure
      url: '/projects/about/03.jpg'
      width:
      height:
    - caption: Workshop Educator
      description: handmade studio in Shanghai, offer ceramic and tufting offline class
      url: '/projects/about/04.jpg'
      width:
      height:
    - caption: Online Creator
      description: video edition and content create where I share art and inspiration to the art lover community in Douyin and Xiaohongshu
      url: '/projects/about/05.jpg'
      width:
      height:
    - caption: Illustration Freelancer
      description: Illustration is my eyes to observe the world, my style is biased towards nature, color and everyday details
      url: '/projects/about/06.jpg'
      width:
      height:


postcards:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 5.png'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 6.png'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 9.jpg'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 3.png'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 7.png'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 8.jpg'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 4.jpg'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 2.png'
      width:
      height:
    - caption:
      description: Paint bucket icon
      url: '/projects/about/post 1.png'
      width:
      height:
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Guangqi Fan",
    "jobTitle": "UX Designer",
    "nationality": "British",
    "url": "https://beckyfgq.github.io/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "London",
      "addressCountry": "United Kingdom"
    }
  }
</script>

<div class="about-wrapper" style="padding-left: 15%; padding-right: 15%;">
  <div class="about">
    <div class="about-intro-description">
      <img src="{{ page.profile_picture }}" alt=""  width="auto" height="430">
    </div>

    <div class="about-intro-image aboutme-words " >
      <p>
        {{ page.intro | markdownify }}
      </p>
    </div>
  </div>
</div>

<div style="height: 190px;">

</div>
<div class="projects" style="padding-left: 10%; padding-right: 10%;">
  <p class="project-listing" style="color: #6ec992;font-size: 170%;letter-spacing: 1px;">What I Do</p>

</div>
<br/><br/>
<!-- <p style="padding: 1em;"></p> -->

<div class="projects" style="padding-left: 10%; padding-right: 10%;">

  {% for image in page.whatido %}
    <article class="project-listing">
      <div class="thumbnail-wrapper0">
          <div class="thumbnail-description-wrapper0">
            <img src="{{ image.url | prepend: site.image_serve_path }}" >
            <p class="thumbnail-description">
              <br/>

              <span style="color: #f69fbf;font-size: 100%; font-weight:500;letter-spacing: 1px;">{{ image.caption }}</span><br/>
              <div style="color: #494949; font-size: 90%;font-weight:lighter;line-height:1.2;letter-spacing: 1px;">
                {{ image.description }}
              </div>
            </p><br/>
          </div>
      </div>
    </article>
  {% endfor %}
</div>



<p style="padding: 6em;"></p>

<div class="projects0" style="padding-left: 15%; padding-right: 10%;">
  <p class="project-listing" style="color: #6ec992; font-size: 170%;letter-spacing: 1px;">
  Postcards from Outside Work
  </p>
</div>
<br/><br/>

<div class="projects"  style="padding-left: 10%; padding-right: 10%;">

  {% for image in page.postcards %}
    <article class="project-listing">
            <img src="{{ image.url | prepend: site.image_serve_path }}" >

    </article>
  {% endfor %}
</div>
