.project-wrapper {

  //Layout
  .project-info {
    @extend .grid-container;

    .project-intro {
      @include grid-column(12);

      @include grid-media(tablet) {
        @include grid-column(12);
      }

      @include grid-media(desktop) {
        @include grid-column-from-to(2,8);
      }
    }

    .project-details {
      @include grid-column(12);

      @include grid-media(desktop) {
        @include grid-column-from-to(10,11);
      }
    }
  }

  .project-details {
    .project-detail-wrapper {
      @extend .grid-container-nested-small;

      .project-detail-6 {
        @include grid-column(6);

        @include grid-media(phablet) {
          @include grid-column(3);
        }

        @include grid-media(tablet) {
          @include grid-column(2);
        }

        @include grid-media(desktop) {
          @include grid-column(6);
        }
      }

      .project-detail-12 {
        @include grid-column(6);

        @include grid-media(tablet) {
          @include grid-column(3);
        }

        @include grid-media(desktop) {
          @include grid-column(6);
        }
      }
    }
  }

  .project-text {
    @extend .grid-container;

    .project-text-wrapper {
      @include grid-column(12);

      @include grid-media(tablet) {
        @include grid-column(12);
      }

      @include grid-media(desktop) {
        @include grid-column-from-to(2,8);
      }
    }
  }

//   //Styles
  .image-wrapper {
    .image-wrapper img { width: 100%; }

    figcaption {
      margin-top: rem(12px);
      margin-bottom: rem(16px);
    }

    &.nudge-down-5 {
      @include grid-media(desktop) {
        margin-top: 5%;
      }
    }
  }

  .project-info {
    margin-bottom: rem(40px);
  }

  .project-text {
    @include grid-media(desktop) {
      margin-top: var(--gutter-row);
    }
  }
}


.prj-wrapper {

  .prj {
    @extend .grid-container;

    .prj-intro-image {
      grid-row: 1;
      @include grid-column-from-to(1,3);


      @include grid-media(tablet) {
        @include grid-column-from-to(7,11);
      }

    }

    .prj-intro-description {
      grid-row: 1;
      @include grid-column-from-to(1,6);

      @include grid-media(tablet) {
        grid-row: 1;
        @include grid-column-from-to(2,6);
      }

    }
    
  }
}

.prj-wrapper {
  .prj {
    .prj-section {
      border-top: 1px solid var(--color-line);
      margin-bottom: var(--gutter-row);
      padding-top: rem(8px);
    }

    .prj-section--nested {
      margin-top: rem(40px);
    }

    .prj-section-title {
      padding-bottom: rem(8px);
      margin-bottom: .5rem;
    }
  }
}


@mixin grid-container-gq {
  @include grid-base;
  margin-right: var(--page-margin);

  @include grid-media(tablet) {
    grid-template-columns: repeat(12, 1fr);
  }
}
.grid-container-gq { //Use for extend
  @include grid-container-gq;
}

.griddiv {
  @extend .grid-container-gq;
  --start: 5;
  --end: 12;  
  .griddiv-right {
    grid-row: 1;
    @include grid-column-from-to(5,12);
  }
  .griddiv-right-small {
    grid-row: 1;
    @include grid-column-from-to(5,11);
  }
  .griddiv-right-smaller {
    grid-row: 1;
    @include grid-column-from-to(5,9);
  }

  .griddiv-left {
    grid-row: 1;
    @include grid-column-from-to(1,4);
    @include grid-media(tablet) {
      grid-row: 1;
      @include grid-column-from-to(1,4);
    }
  }

  .griddiv-left-small {
    grid-row: 1;
    @include grid-column-from-to(1,4);
    @include grid-media(tablet) {
      grid-row: 1;
      @include grid-column-from-to(2,5);
    }
  }

  .griddiv-dietwell-left {
    grid-row: 1;
    @include grid-column-from-to(1,4);
    @include grid-media(tablet) {
      grid-row: 1;
      @include grid-column-from-to(2,6);
    }
  }

  .griddiv-navi-left {
    grid-row: 1;
    @include grid-column-from-to(1,4);
    @include grid-media(tablet) {
      grid-row: 1;
      @include grid-column-from-to(1,6);
    }
  }

  .griddiv-navi-right {
    grid-row: 1;
    @include grid-column-from-to(7,12);
  }
  
}
